<div class="container posts">
    <div class="header">
        <h1>Posts</h1>
        <form [formGroup]="filterForm">
            <div class="form-group">
                <label for="filterBy">Group by: </label>
                <select formControlName="filterBy" #filterBy name="filterBy" id="filterBy">
                    <option disabled value="">Please select</option>
                    <option *ngFor="let option of groupOptions" [value]="option">{{ option | titlecase }}</option>
                </select>
            </div>
        </form>
    </div>
    <div class="body">
        <ul>
            <li *ngFor="let group of posts | keyvalue">
                <h2>Posts from<span *ngIf="filterBy.value === 'week'"> ISO week</span>: {{group.key}}</h2>
                <ul class="post-list">
                    <li *ngFor="let item of group.value">
                        <app-post [post]="item"></app-post>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>